:root {
    --color-yellow: #FFCC00;
    --color-violet: #A7268D;
    --color-white: #FFFFFF;
    --color-tr-white: rgba(255, 255, 255, 0.6);
    --color-tr-black: rgba(0, 0, 0, 0.3);
    --font-primary-m: TisaSansProMedium;
    --font-primary-b: TisaSansProBold;
    --action-color: radial-gradient(50% 50% at 50% 50%, #A42082 32.2%, #8C1F74 100%);
}


@font-face {
    font-family: TisaSansProMedium;
    src: url(../fonts/Tisa\ Sans\ Pro\ Medium.ttf) format("truetype"), url(../fonts/Tisa-Sans-Pro-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: TisaSansProBold;
    src: url(../fonts/Tisa\ Sans\ Pro\ Bold.ttf) format("truetype"), url(../fonts/Tisa-Sans-Pro-Bold.woff) format("woff");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}


body {
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    min-height: 100dvh;
    min-height: -webkit-fill-available;
}

.promo-container {
    display: flex;
    gap: 0 20px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    padding: 100px 20px;
}

.promo-text {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.whiskas-logo {
    position: absolute;
    right: 0;
    top: 10px;
}

.main-cat {
    width: 100%;
    min-width: 480px;
}


.app-container {
    width: 100%;
}

.close-btn {
    z-index: 4;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background-color: var(--color-tr-black);
    position: fixed;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promo-logo, .app-main-cat {
    width: 100%;
    padding: 0 20px;
    /* max-width: 343px; */
}

.main-app-images {
    margin: 0 16px;
    padding: 12px 0 14px 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.action-container {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 224px;
    background: var(--action-color);
    backdrop-filter: blur(12px);
    border-radius: 36px 36px 0 0;
    z-index: 2;
}

.action-item {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px 16px;
    gap: 36px;
    width: 100%;
}

.select-container {
    display: none;
    flex-direction: column;
}

.action-item.active, .action-container.active, 
.select-container.active, .main-app-images.active,
.small-gap.active, .select-animate.active {
    display: flex;
}

.select-result-cozy.active, .select-result-food.active {
    display: block;
}

.action-item.action-item-radio {
    align-items: baseline;
    justify-content: space-between;
}

.action-item-radio input:checked+label::after {
    display: block;
}

.promo-image-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    gap: 12px;
}

.promo-app-image {
    width: 100%;
    max-width: 240px;
    min-width: 190px;
}

.promo-text {
    min-width: 87px;
}

.promo-line {
    height: 88px;
    border-left: var(--color-yellow) solid 3px;
}

.count-flex {
    display: none;
    align-items: center;
    gap: 6px;
    position: fixed;
    top: 20px;
    left: 15px;
}
.count-flex.active {
    display: flex;
}
.count-flex .count-item {
    width: 28px;
    min-width: 28px;
    height: 40px;
    background-image: url(../images/count.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.count-flex .count-item.fill {    
    background-image: url(../images/count-fill.png), url(../images/count.svg);
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
}

.pack {
    position: absolute;
    top: calc(100vh - 580px);
    left: calc(50% - 85px);
    width: 180px;
    display: none;
    z-index: 3;
}
.pack.active1 {
    animation: pack 3s ease-out forwards;
    display: block;
}
.pack.active2 {
    animation: pack2 3s ease-out forwards;
    display: block;
}
.pack.active3 {
    animation: pack3 3s ease-out forwards;
    display: block;
}

@keyframes pack {
    0% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);        
         width: 180px;
    }
    30% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);        
        width: 180px;
        transform: rotate(-10deg) scale(1.2);
    }
    60% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);
        width: 180px;
        transform: rotate(20deg) scale(1.2);
    }
    100% {
        top: 20px;
        left: 15px;
        width: 28px;
        transform: rotate(10deg) scale(1);
    }
}
@keyframes pack2 {
    0% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);        
         width: 180px;
    }
    30% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);        
        width: 180px;
        transform: rotate(-10deg) scale(1.2);
    }
    60% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);
        width: 180px;
        transform: rotate(20deg) scale(1.2);
    }
    100% {
        top: 20px;
        left: 49px;
        width: 28px;
        transform: rotate(10deg) scale(1);
    }
}
@keyframes pack3 {
    0% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);        
         width: 180px;
    }
    30% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);        
        width: 180px;
        transform: rotate(-10deg) scale(1.2);
    }
    60% {
        top: calc(100vh - 580px);
        left: calc(50% - 85px);
        width: 180px;
        transform: rotate(20deg) scale(1.2);
    }
    100% {
        top: 20px;
        left: 83px;
        width: 28px;
        transform: rotate(10deg) scale(1);
    }
}

.camera {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 200px);
    display: none;
    background-color: #FFF;
}
.camera.active {
    display: block;
}
.coin-block {
    display: none;
}
.coin-block.active {
    display: block;
}
.coin-block img {
    position: fixed;
    display: none;
    width: 100vw;
    bottom: 224px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
.coin-block img.coin.active {
    display: block;
    width: 80px;
    transform: translateX(-50%) rotateY(10deg);
    opacity: 0;
}
.coin-block img.coin.active:nth-child(1) {
    animation: flip1 500ms linear 2s forwards;
}
.coin-block img.coin.active:nth-child(2) {
    animation: flip2 500ms linear 2s forwards;
}
.coin-block img.coin.active:nth-child(3) {
    animation: flip3 500ms linear 2s forwards;
}


.coin-block img.active {
    display: block;
}

@keyframes flip1 {
    0% {
        opacity: 1;
        transform: translateX(-50%) rotateX(0deg);
        bottom: 70vh;
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) rotateX(680deg);
        bottom: 250px;
    }
    
}
@keyframes flip2 {
    0% {
        opacity: 1;
        transform: translateX(-53%) rotateX(0deg);
        bottom: 70vh;
    }

    100% {
        opacity: 1;
        transform: translateX(-53%) rotateX(680deg);
        bottom: 254px;
    }
    
}
@keyframes flip3 {
    0% {
        opacity: 1;
        transform: translateX(-48%) rotateX(0deg);
        bottom: 70vh;
    }

    100% {
        opacity: 1;
        transform: translateX(-48%) rotateX(680deg);
        bottom: 258px;
    }
    
}

.app-btn {
    background-color: var(--color-yellow);
    font-family: var(--font-primary-b);
    color: var(--color-violet);
    font-size: 24px;
    width: 100%;
    min-width: 290px;
    min-height: 56px;
    height: 56px;
    border-radius: 60px;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-desc {
    font-family: var(--font-primary-m);
    color: var(--color-white);
    font-size: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    line-height: 28px;
}

.app-error {
    background: url(../images/background.png) no-repeat;
    background-size: cover;
    display: none;
    height: 100dvh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 46px;
    padding: 0 20px;
}

.app-error.active {
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}


.title {
    font-family: var(--font-primary-b);
    color: var(--color-white);
    font-size: 36px;
    letter-spacing: -0.2px;
    text-align: center;
    line-height: 36px;
}

.p-note {
    font-family: var(--font-primary-m);
    color: var(--color-tr-white);
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    margin-top: -24px;
}

.desc-radio {
    position: relative;
    display: flex;
    gap: 14px;
    text-align: left;
}

.desc-radio::before {
    margin-top: 1px;
    content: "";
    color: var(--color-yellow);
    border-radius: 24px;
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 1.5px var(--color-yellow) solid;
    min-width: 22px;
}

.desc-radio::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: var(--color-yellow);
    position: absolute;
    left: 6px;
    top: 7px;
    display: none;
}


.action-item input {
    display: none;
}

.select-btn {
    margin-top: 30px;
}

.select-title {
    margin: 0 auto;
    padding: 20px 16px 0 16px;
    max-width: 400px;
}



.select-toy-img {
    z-index: -1;
    position: fixed;
    left: -116px;
    bottom: 195px;
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    animation: fly-rotate 3s linear infinite;
}

@keyframes fly {
    40% {
        transform: translate3d(-5px, -20px, 0) rotate(10deg);
    }
    70% {
        transform: translate3d(5px, 20px, 0) rotate(-10deg);
    }
}
@keyframes fly-rotate {
    40% {
        transform: translate3d(15px, -20px, 0) rotate(-10deg);
    }
    70% {
        transform: translate3d(-10px, 20px, 0) rotate(10deg);
    }
}

.select-whiskas-img {
    z-index: -1;
    position: fixed;
    right: -90px;
    bottom: 200px;
    width: 80%;
    min-width: 300px;
    max-width: 330px;
    animation: fly 3s linear infinite;
}


.select-result-cozy {
    display: none;
    background: url(../images/background-result-cozy.png) no-repeat;
    height: 100dvh;
    background-size: cover;
}
.select-result-cozy .cat:nth-child(2) {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 1;
}
.select-result-cozy .cat:nth-child(3) {
    position: fixed;
    bottom: 375px;
    right: -36px;
}
.select-result-cozy .cat:nth-child(4) {
    position: fixed;
    bottom: 540px;
    right: 190px;
}

.select-result-cozy.top .cat:nth-child(2) {
    position: fixed;
    top: -15px;
    right: 25px;
    z-index: 1;
}
.select-result-cozy.top .cat:nth-child(3) {
    position: fixed;
    top: 9px;
    right: -36px;
}
.select-result-cozy.top .cat:nth-child(4) {
    position: fixed;
    top: -10px;
    right: 190px;
}

.select-result-food .cat:nth-child(2) {
    position: fixed;
    bottom: 44px;
    right: 91px;
    z-index: 1;
}
.select-result-food .cat:nth-child(3) {
    position: fixed;
    bottom: 323px;
    right: -23px;
}
.select-result-food .cat:nth-child(4) {
    position: fixed;
    bottom: 516px;
    right: 116px;
}

.select-result-food.top .cat:nth-child(2) {
    position: fixed;
    top: 0px;
    right: 76px;
    z-index: 1;
}
.select-result-food.top .cat:nth-child(3) {
    position: fixed;
    top: 61px;
    right: -20px;
}
.select-result-food.top .cat:nth-child(4) {
    position: fixed;
    top: 15px;
    right: 117px;
}


.cozy-cats {
    position: fixed;
    right:-106px;
    bottom: 130px;
}
.top .cozy-cats, .top .food-cats {
    bottom: auto;
    top: 10px;
}
.top .food {
    bottom: auto;
    top: 146px;
}

.select-action  {
    height: 300px
}
.select-action.top {
    height: 230px;
}
.select-action.top.small-gap {
    gap: 8px;
}
.select-action.top.small-gap .p-desc {
    font-size: 20px;
}
.select-action.top.small-gap .app-btn {
    font-size: 20px;
    min-height: 48px;
    height: 48px;
}
.color-yellow {
    color: var(--color-yellow);
}

.tight-desc {
    max-width: 340px;
}

.small-gap {
    display: none;
    gap: 20px;
}

.no-margin {
    margin-top: 0;
}

.select-result-food {
    display: none;
    background: url(../images/background-result-food.png) no-repeat;
    height: 100dvh;
    background-size: cover;
}

.food-cats {
    position: fixed;
    right: -160px;
    bottom: 290px;
}
.food {
    position: fixed;
    right: 14px;
    bottom: 280px;
    z-index: 2;
}
@keyframes active-image {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }
}

.select-animate {
    display: none;
}

.select-animation {
    animation: active-image 100ms linear 4;
}


@media (max-width: 1020px){
    .promo-container {
        flex-wrap: wrap;
        width: 480px;   
    }    

    .main-cat {
        width: 480px;
    }

    .whiskas-logo {
        top: 0;
        right: -70px;
    }
}